<form [formGroup]="opinionForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Comentario</mat-label>
    <input matInput
           placeholder="Comentario"
           type="text"
           for="opinion"
           name="opinion"
           formControlName="opinion"
           class="form-control"
           id="opinion"
    #opinion>
  </mat-form-field>
  <br>
  <button mat-button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!opinionForm.valid"
  >
    Agregar
  </button>
</form>
