<mat-toolbar color="primary">Perros y Gatos</mat-toolbar>

<main>
  <mat-card *ngIf="loggeado === false">
    <h4>Ingresar {{loggeado}}</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!--<label for="nombre">Nombre</label>-->
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" type="text" formControlName="usuario" class="form-control" id="usuario">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contrasena</mat-label>
        <input matInput type="password" placeholder="contraseña" formControlName="contrasena" class="form-control" id="contrasena">
      </mat-form-field>

      <button mat-button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Agregar</button>
    </form>
  </mat-card>
</main>
<ng-container *ngIf="loggeado === true"><app-root></app-root></ng-container>
